*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}

body{
    background-color: #ebf2ff;
    position: relative;
    /* transition: all .5s; */
}

button{
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 1s ease-in;
}

section{
    margin: 20px 0;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.primary__button{
  background-image: linear-gradient(to left,#dd5824, #CD0E49  );
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  background-size: 200% auto;
  transition: background .3s, box-shadow .3s;
}

.primary__button:hover{
  background-position: right center;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.39);
}

.primary__button:active{
  background-position: right center;
  box-shadow: none;
  background-position: center left;

}


header{
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -3px 20px rgba(128, 128, 128, 0.459);
    /* height: 10vh; */
}

.navbar__brand{
    /* width:100px; */
    height: 10vh;
    padding: 10px;

    
}

.brand__logo{
    /* width: 100%; */
    height: 80%;
}



.hero__image__container{
    position: relative;
    width: 100%;
}

.hero__image{
    position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    top: 10%;
}

.hero__shape__image{
    position: absolute;
    top: 0;
}

.hero__description{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.hero__description .primary__button{
    margin-bottom: 10px;
}

.text__heading{
    font-size: 1.8rem;
    line-height: calc(2rem * 1.5);
    font-weight: 900;
    color: #1d3557;
    margin-bottom: 1rem;
}

.video__footage__container{
    display: flex;
    margin: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.video__footage{
    position: relative;
}

.video__footage::before{
    content: "";
    position: absolute;
    display: block;
    background-color: rgb(255, 0, 76);
    top: 10px;
    left: 13px;
    height: 100%;
    width: 95%;
    z-index: -1;
}

iframe{
    width: 90%;
    height: 100%;
}
.video__footage__text{
    margin-top: 2rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
}

.food__list__container{
    width: 100%;
    position: relative;
    margin-top: 4em;
}

.food__list__container .text__heading{
    margin-top: 10rem;
    padding-top: 2rem;
}


.food__menu__card__list{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.food__menu__card{
    background-color: white;
    width: 100%;
    padding: 0px;
    border-radius: 10px;
    overflow: hidden;
}
.food__menu__card__image{
    width: 100%;
}

.food__menu__card__description{
    padding: 1rem;
}
.food__menu__card__title{
    padding: 1rem 0;
}
.restaurant__list__container{
    margin-top: 3rem;
}
.restaurant__image__container{

}

.restaurant__list__row__1{
    display: flex;
    align-items: baseline;
}
.restaurant__list__row__2{
    display: flex;
    align-items: flex-start;
    /* margin-top: 10px; */
}

.restaurant1, .restaurant4{
    border-radius: 10px;
    width: 150px;
    height: 100%;
    margin: 10px;
}
.restaurant2, .restaurant3{
    border-radius: 10px;
    height: 125px;
    margin: 10px;
}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 6rem;
}

.newsletter__form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter__input{
    padding: 10px;
    width: 300px;
    background-color: rgb(255, 247, 232);
    font-size: 1rem;
    border: 1px solid red;
    border-radius: 4px;
}
.newsletter__button{
    margin-top : 1rem;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: rgba(32, 32, 32, 0.829);
    background-image: url(./assets/restaurant3.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-position: center center;
    color: white;
    margin: 6em 0;
    border-radius: 20px;
    font-size: 1rem;
    line-height: 1.8;
    text-align: center;
}

.quote__description{
    
}
.footer{
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    color: white;
    margin: 0 auto;
    flex-direction: column;
}

.footer__logo{
    filter: brightness(0) invert(1);
}

.footer__nav__items{
    list-style-type: none;
    font-size: 1.2rem;
    text-align: center;
}


.footer__nav__item{
    margin: 10px;
}






@media screen and (min-width : 768px) {
    .hero__container{
        display: flex;
        align-items: center;
        flex-direction:row-reverse;
    }
    .primary__button{
        padding:15px 20px;
    }
    button{
    padding: 10px;
    }
    .food__menu__card__list{
        flex-direction: row;
        margin: 2rem 0;
        padding: 2rem;
    }
    .food__menu__card__list > div:nth-child(2){
        margin-top: -1rem;
    }
    .food__list__container__diagonal{
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to left,#dd5824, #CD0E49  );
        transform: skewY(-2deg);
    }
    .food__list__container .text__heading{
        color: white;
        margin-top: 1rem;
    }
    .restaurant__list__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .restaurant1, .restaurant4{
    border-radius: 10px;
    width: 200px;
    height: 100%;
    margin: 10px;
    }

    .restaurant2, .restaurant3{
        border-radius: 10px;
        height: 155px;
        margin: 10px;
    }
    .footer{
        flex-direction: row;
    }
    .footer__nav__items{
        text-align: start;
    }

}

@media screen and (min-width : 1024px) {

    .navbar__brand{
        width: 150px;
    }
    /* .primary__button{
        padding: 15px 20px;
        font-size: 18px;
    } */
    .container{
    max-width: 900px;
    }
    .text__heading{
        font-size: 3rem;
        line-height: calc(3rem * 1.3);
    }
    .hero__description .primary__button{
        margin-top: 1.5rem;
    }


}

@media screen and (min-width : 1280px) {
    .container{
        max-width: 1100px;
    }
    .video__footage__text{
    margin-top: 2rem;
    width: 80%;
    line-height: 1.5;
    }

}

@media screen and (min-width : 1536px) {
    .container{
        max-width: 1250px;
    }
}




